// updater color vars
$u_white: #ffffff;
$u_grey: #e4e4e4;
$u_dark_grey: #404041;
$u_blue: #2b7499;
$u_selected_tile_bg: #f3fcff;

// base font vars
$base_font_family: 'maquette', sans-serif;
$base_font_size: 16px;
$base_font_weight: 300;
$base_font_style: normal;
$base_font_stretch: normal;
$base_line_height: 1.5;
$base_letter_spacing: normal;
$base_color: $u_dark_grey;


$smallest_font_size: 10px;
$small_font_size: 12px;
$medium_font_size: 13px;

// content body title font vars
$title_font_size: 36px;
$title_font_weight: 300;
$title_font_style: normal;
$title_font_stretch: normal;
$title_line_height: 1.28;

// content header vars
$icon_size: 100px;
$bar_width: 100%;

// content body icon vars
$icon_width: 100px;
$icon_height: 71px;
$icon_title_font_size: 28px;
$icon_title_line_height: 1.36;

// component container vars
$component_width_small : 90%;
$component_width_large : 40rem;
